@import models._
@import play.api.data._
@import play.api.data.Forms._
@import _root_.template.Helper._
@import helpers._

@(theForm:Form[_],prefix:String,hidden:String, abroadAddress:Boolean, nojs: String = "", Optional:Boolean)(implicit requestHeader: RequestHeader,  lang: Lang)

@isOptional=@{
  if(Optional){
    Messages("label.optional")
  }
}

@addressForm(hiddenClass: String, overseas: Boolean) = {

      @helpers.inputText(
        field = theForm(prefix+".buildingNameNumber"),
        '_label -> Html(if(overseas){Messages("label.landlordOverseasAddress.buildingNameNumber")}else{Messages("label.buildingNameNumber")}),
        '_labelClass -> "form-label-bold",
        'class -> "form-control",
        '_fieldsetClass -> "hidden address-field-one address-fields",
        Symbol("placeholder") -> Messages("placeholder.address.1"),
        '_nojsText -> nojs,
        '_help -> isOptional,
        '_optional -> Optional
      )

      @helpers.inputText(
          field = theForm(prefix+".street1"),
        '_label -> Messages("label.street1"),
        '_labelClass -> "visuallyhidden",
        'class -> "form-control",
        '_fieldsetClass -> "hidden address-field-two address-fields",
        Symbol("placeholder") -> Messages("placeholder.address.2"),
        '_optional -> true
      )

      @helpers.inputText(
        field = theForm(prefix+".street2"),
        '_label -> Messages("label.street2"),
        'class -> "form-control",
        '_labelClass -> "visuallyhidden",
        '_fieldsetClass -> "hidden address-field-three",
        Symbol("placeholder") -> Messages("placeholder.address.3"),
        '_optional -> true

      )

      @helpers.inputText(
        field = theForm(prefix+".postcode"),
        '_label -> Messages("label.ukOrInternationalPostcode"),
        '_labelClass -> "form-label-bold",
        'class -> ("form-control postcode postcode-"+prefix),
        '_fieldsetClass -> "hidden address-field-postcode",
        '_nojsText -> nojs,
        '_optional -> Optional
      )

}

@if(abroadAddress == true) {
    @inputRadioGroup(
        field = theForm("overseas"),
        options = Seq(
            "true" -> Messages("label.yes3"),
            "false" -> Messages("label.no3")
        ),
        args = Seq(
            '_showConstraints -> false,
            '_label -> Messages("label.overseas"),
            '_error -> theForm("overseas").error,
            '_legend -> true,
            '_fieldsetClass -> "inline radioOverseas",
            '_labelClass -> "form-label-bold",
            '_showConstraints -> false
        )
    )
}
  <div class="form-group postcode-lookup-group @(hidden)">

    <div class="form-group-lookup hide-if-no-js">
      <label class="form-label-bold" for="postcode-look">@Messages("label.postcode")  @if(Optional){<span class="visuallyhidden">(@Messages("label.optional"))</span>}</label>

      @if(Optional){
        <span class="form-hint">@Messages("label.optional")</span>
      }

      <input type="text" class="form-control postcode" id="postcode-look">
      <button id="postcodeLookupButton" class="button findPostcode">@Messages("label.findAddress")</button>

      <div class="loading hidden hide-if-no-js"><div class="loader"></div>@Messages("label.loading")</div>

      <div class="postcode-results">
        <label class="form-label-bold" for="postcode_look_results_@{s"$prefix"}">@Messages("label.addressMatches")</label>
        <select class="form-control input-extra-large addressList" name="@{s"$prefix.addresses"}" id="postcode_look_results_@{s"$prefix"}">

        </select>
    </div>
  </div>

    <a href="#" class="manual-address showHide hide-if-no-js">@Messages("label.manualAddress")</a>

    <div class="showHide-group show-if-no-js">


      @addressForm("hidden", false)


    </div>

  </div>
