logs
project/project
project/target
target
lib_managed
tmp
.history
dist
/.idea
/*.iml
/*.ipr
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.grunt
*.iws
.sass-cache
public
*.DS_Store
_SpecRunner.html
.clover
.bsp/

