fieldset{
  border:none;
  padding:0px;
}
.multi-fields-group{
  //display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px $govuk-border-colour;
}
.add-multi-fields{
  margin-bottom:20px;
}
