$govuk-assets-path: "/sending-rental-information/assets/lib/govuk-frontend/govuk/assets/";

#timeout-dialog.timeout-dialog {
  * {
    font-family: "GDS Transport", Arial, sans-serif;
    font-size:19px;
  }
  button, a{
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
    padding: 0 16px;
  }
  a:focus{
    box-shadow: 0 2px black;
  }
}

div#helpFormWrapper  {
  input[type=text]{
    width: 100%;
  }
}

@import "node_modules/govuk-frontend/govuk/all";
