//this is needed to get the correct path to the images in the webjar of govuk-frontend
$govuk-assets-path: "/sending-rental-information/assets/lib/govuk-frontend/govuk/assets/";

div.sign-footer{
  display:none;
}

#timeout-dialog.timeout-dialog {
  * {
    font-family: "GDS Transport", Arial, sans-serif;
    font-size: 19px;
  }

  button, a {
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
    padding: 0 16px;
  }

  a:focus {
    box-shadow: 0 2px black;
  }
}

div#helpFormWrapper {
  input[type=text] {
    width: 100%;
  }
}

.govuk-date-input__item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
}

.govuk-main-wrapper {
  padding-top: 15px !important;
  padding-bottom: 40px;
}

#section-x-of-y {
  margin-bottom: 10px;
}

#history-back.govuk-back-link {
  margin-bottom: 0;
}
ul#header-account-info{
  padding: 0;
}

@import "node_modules/govuk-frontend/govuk/all";
@import "node_modules/hmrc-frontend/hmrc/all";
@import "print_page_screen";
@import "form";


.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;

  & .path {
    stroke: hsl(208, 73%, 42%);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}



