@media print {
  div.sign-footer {
    display:block;
    width: 100%;
    font-size: .9em;

    h3 {
      text-transform: uppercase;
      border-top: solid 4px #000;
      border-bottom: solid 4px #000;
      padding: 10px 0;
      background-color: #E4E4E4;
      text-align: center;
    }

    h4 {
      display: inline-block;
      width: 30%;
      float: left;
      border-bottom: solid 1px #000;
      padding-bottom: 60px;
      margin-right: 20px;
    }

    .footnote {
      font-size: .8em;
      display: block;
      clear: left
    }
  }

}

.print-link {
  display: inline-block;
  background: transparent no-repeat 0 50%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASAgMAAAAvVbb5AAAACVBMVEX///////8KDAwmYEUdAAAAAXRSTlMAQObYZgAAADBJREFUCFtjYOBa1cDAoBkKJFYCCSYwEYpCrAICZCI0FEhkrURmQRRnrYRpW7WqAQAlGR86Ip1rwwAAAABJRU5ErkJggg==");
  padding: 0.5em 0 0.5em 28px;
  zoom: 1;
}

  @media print {
    a.print-link, a, .govuk-summary-list__actions,
    .govuk-button, .button, button, .govuk-back-link,
    .dontprint, footer, .form-help-toggle, .help-container {
      display: none !important;
    }
  }
