@import views.html.helper._
@import play.api.data._
@import play.api.data.Forms._

@**
 * Generate an HTML form.
 *
 * Example:
 * {{{
 * @form(action = routes.Users.submit, args = 'class -> "myForm") {
 *   ...
 * }
 * }}}
 *
 * @param action The submit action.
 * @param args Set of extra HTML attributes.
 * @param body The form body.
 *@


@(action: play.api.mvc.Call, args: (Symbol,String)*)(body: => Html)(implicit  requestHeader: RequestHeader, handler: FieldConstructor, lang: Lang)

<form action="@action.url" method="@action.method" @toHtmlArgs(args.toMap)>
    @body
</form>