@import helpers.summary._
@import java.text.NumberFormat
@import models.pages._
@import models.serviceContracts.submissions._

@(p9: PageNine, isAgent: Boolean)(implicit requestHeader: RequestHeader,  messages: Messages)

<li><h2 class="heading-medium no-margin-top">@Messages("section9.heading")</h2></li> 

	 
	@summaryBlock(Messages("label.totalRent.rentLengthType"), 9, "totalRent_rentLengthType") {
		@Messages(s"${RentLengthTypes.all.head.key}.${p9.totalRent.period.name}")
	}

	@summaryBlock(Messages("label.totalRent.annualRentExcludingVat.generic"), 9, "totalRent_annualRentExcludingVat") {
	   <span class='rentAmount'>£@NumberFormat.getNumberInstance().format(p9.totalRent.amount)
	   </span>
	   @convertAnnual(p9.totalRent)
	}

	@summaryBlock(Messages(if(isAgent) Messages("label.rentBecomePayable.agent") else Messages("label.rentBecomePayable")), 9, "rentBecomePayable_day") {
		@displayLocalDate(p9.rentBecomePayable)	
	}

	@summaryBlock(Messages("label.rentActuallyAgreed"), 9, "rentActuallyAgreed_day") {
		@displayLocalDate(p9.rentActuallyAgreed)
	}

	@summaryBlock(Messages(if(isAgent) Messages("label.negotiatingNewRent.agent") else Messages("label.negotiatingNewRent")), 9, "negotiatingNewRent") {
		@displayBoolean(p9.negotiatingNewRent, if(isAgent) "1" else "7")
	}

	@summaryBlock(Messages("label.rentBasedOn"), 9, "rentBasedOn") {
		@Messages(s"${RentBaseTypes.key}.${p9.rentBasis.name}")
	}

	@if(p9.rentBasis != RentBaseTypeOpenMarket) {
		@summaryBlock(Messages("label.rentBasedOnDetails"), 9, "rentBasedOnDetails") {
			@p9.rentBasisOtherDetails.getOrElse("")
		}
	}