fieldset {
  border: none;
  padding: 0px;
}

.multi-fields-group {
  //display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px #8b8680;
}

.add-multi-fields {
  margin-bottom: 20px;
}

.visually-hidden, .visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.print-only {
  display:none;
}

@media print {
  .print-only {display:block;}
}
