@import  playconfig.FormPartialProvider

@()(implicit requestHeader: RequestHeader,  lang: Lang)

@headExtra = {
@views.html.includes.stylesheets()
}

@bodyEnd = {
@views.html.includes.javascripts()
@views.html.includes.analytics()
}

@main(title=Messages("project.name") +" | "+Messages("label.help.title.vacated"), headExtra=headExtra, bodyEnd=bodyEnd,showBackButton=false,showAccountInfo=false) {
	<main id="content" tabindex="-1">
		<div class="help-container">
			<div class="grid-row">
				<div class="column-two-thirds">
					<div class="help-with-form-container">

						<div id="helpForm" class="help__wrapper">
							<div class="help-content">

								<div class="form-title heading-large">
									<h2>@Messages("label.help.title.vacated")</h2>
								</div>

								<div class="contact-form-copy">
									<p>@Messages("hint.vacated.form")</p>
								</div>

								<p class="feedback-thankyou hidden">@Messages("copy.form.help.thankyou")</p>

								<div id="helpFormWrapper" class="element-hidden vacated-form">
								@FormPartialProvider.getPartialContent(controllers.feedback.HMRCContact.hmrcHelpWithPageFormUrl)
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
}
