@import _root_.template.Helper._
@import helpers._
@import play.api.data._
@import org.joda.time.DateTime

@()(implicit requestHeader: RequestHeader,  lang: Lang)

    @headExtra = {
        @views.html.includes.stylesheets()
    }
    @bodyEnd = {
        @views.html.includes.javascripts()
        @views.html.includes.analytics()
    }


@main(title = Messages("project.name") +" - "+Messages("lockedOut.heading"), headExtra = headExtra, bodyEnd = bodyEnd, showAccountInfo = false, showBackButton = false) {
     <main id="content" tabindex="-1">
            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="form-title heading-large">
                        @Messages("heading.login.lockedOut")
                    </h1>
                    <p>
                        @Messages("error.login.lockedOut")
                    </p>
                </div>
            </div>
    </main>
}