@import _root_.template.Helper._
@import helpers._
@import play.api.data._
@import org.joda.time.DateTime

@(remainingAttempts: Int)(implicit requestHeader: RequestHeader,  lang: Lang)

@headExtra = {
@views.html.includes.stylesheets()
}
@bodyEnd = {
@views.html.includes.javascripts()
@views.html.includes.analytics()
}


@main(title = Messages("project.name") +" - "+Messages("failedLogin.heading"), headExtra = headExtra, bodyEnd = bodyEnd, showAccountInfo = false, showBackButton = false) {
<main id="content" tabindex="-1">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="form-title heading-large">
                @Messages("heading.login.loginFailed")
            </h1>
            <p>
                @if(remainingAttempts > 3) {
                    @Messages(s"error.login.failed")
                } else {
                    @Messages(s"error.login.${remainingAttempts}attemptsleft")
                }

            </p>
            <a href="@routes.LoginController.show">@Messages("label.retryLogin")</a>
        </div>
    </div>
</main>
}