@import models.journeys.Journey
@import models.serviceContracts.submissions._
@import models.pages.Summary
@import org.joda.time.DateTime
@import _root_.template.FormatRefNum
@import controllers.dataCapturePages.UrlFor
@import java.util.Locale

@import java.time.format.DateTimeFormatter
@(summary: Summary, password: String)(implicit requestHeader: RequestHeader,  lang: Lang)

@headExtra = {
  @views.html.includes.stylesheets()
}

@bodyEnd = {
  @views.html.includes.javascripts()
  @views.html.includes.analytics(summary)
}

@main(title=Messages("project.name"), headExtra=headExtra, bodyEnd=bodyEnd, showAccountInfo=false, showBackButton=false) {

 
      <main id="content" tabindex="-1">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="@routes.Application.summary" id="back" name="back_button" class="button-link link-back declaration-back" role="button">@Messages("button.label.back")</a>

      <h1 class="form-title heading-large">
        @Html(Messages("saveForLater.heading"))
      </h1>

      <p><strong>@Messages("saveForLater.retrievalInfo")</strong></p>

      <div class="save-for-later">
          
          <span>@Messages("saveForLater.refNum"):</span> <strong>@FormatRefNum(summary.referenceNumber)</strong></br>
          <span>@Messages("saveForLater.postcode"):</span> <strong>@summary.addressVOABelievesIsCorrect.postcode.replaceAll("^(\\S+?)\\s*?(\\d\\w\\w)$","$1 $2")</strong></br>
          <span>@Messages("saveForLater.password"):</span> <strong>@password</strong>
      </div>

      <p class="form-error alert alert-save-for-later" style="color:#b10e1e; margin-top: 1em">@Html(Messages("saveForLater.info"))</p>

      <p class="icon-important" style="margin-top:2em">@Messages("saveForLater.retrievalWarning") @Html(Messages("saveForLater.paragraph")) <strong>@java.time.LocalDate.now().plusDays(1).format(DateTimeFormatter.ofPattern("dd-MMM-yyyy" + ".", new Locale("Wales", "cy_GB")))</strong> <p>

      <p><a href="@routes.SaveForLater.immediateResume" class="button button-primary">@Messages("saveForLater.continue")</a></p>

      <form action="@routes.SaveForLater.resume()" method="post">
          @helper.CSRF.formField
          <input type="hidden" name="password" value="@password" />
          <a href="javascript:window.print();" class="button button-secondary hide-if-no-js">@Messages("saveForLater.print")</a>
      </form>

    </div>
    <div class="column-third"></div>
   </div>  
   </main>



   @includes.formHelp()
}
