@import models.pages.Summary
@()(implicit requestHeader: RequestHeader,  lang: Lang)

@headExtra = {
@views.html.includes.stylesheets()
}

@bodyEnd = {
  @views.html.includes.javascripts()
  @views.html.includes.analytics()
}

@main(title=Messages("project.name"), headExtra=headExtra, bodyEnd=bodyEnd, showAccountInfo=false, showBackButton=false) {
    <main id="content" tabindex="-1">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="form-title heading-large"></h1>
                <p>@Messages("saveForLater.invalidPassword")</p>

                <div class="form-group">
                    <a href="@routes.SaveForLater.login" class="button button-primary">@Messages("label.tryAgain")</a>
                </div>
                <p>@Messages("saveForLater.haveYouForgotten")</p>
                <a href="@routes.Application.startAgain">@Messages("label.startFormAgain")</a>
            </div>
        </div>
    </main>
    @includes.formHelp()
}